<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HighScore - 1</key>
	<integer>0</integer>
	<key>HighScore - 2</key>
	<integer>0</integer>
	<key>HighScore - 3</key>
	<integer>0</integer>
	<key>HighScore - 4</key>
	<integer>0</integer>
	<key>HighScore - 5</key>
	<integer>0</integer>
	<key>HighScore - 6</key>
	<integer>0</integer>
	<key>HighScore - 7</key>
	<integer>0</integer>
	<key>HighScore - 8</key>
	<integer>0</integer>
	<key>HighScore - 9</key>
	<integer>0</integer>
	<key>HighScore - 10</key>
	<integer>0</integer>
	<key>HighScore - 11</key>
	<integer>0</integer>
	<key>HighScore - 12</key>
	<integer>0</integer>
</dict>
</plist>
