<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1Low</key>
	<integer>1</integer>
	<key>Level1Med</key>
	<integer>12</integer>
	<key>Level1High</key>
	<integer>18</integer>
	<key>Level2Low</key>
	<integer>1</integer>
	<key>Level2Med</key>
	<integer>12</integer>
	<key>Level2High</key>
	<integer>18</integer>
	<key>Level3Low</key>
	<integer>1</integer>
	<key>Level3Med</key>
	<integer>12</integer>
	<key>Level3High</key>
	<integer>18</integer>
	<key>Level4Low</key>
	<integer>1</integer>
	<key>Level4Med</key>
	<integer>3</integer>
	<key>Level4High</key>
	<integer>6</integer>
	<key>Level5Low</key>
	<integer>1</integer>
	<key>Level5Med</key>
	<integer>9</integer>
	<key>Level5High</key>
	<integer>16</integer>
	<key>Level6Low</key>
	<integer>1</integer>
	<key>Level6Med</key>
	<integer>12</integer>
	<key>Level6High</key>
	<integer>18</integer>
	<key>Level7Low</key>
	<integer>1</integer>
	<key>Level7Med</key>
	<integer>6</integer>
	<key>Level7High</key>
	<integer>15</integer>
	<key>Level8Low</key>
	<integer>1</integer>
	<key>Level8Med</key>
	<integer>8</integer>
	<key>Level8High</key>
	<integer>17</integer>
	<key>Level9Low</key>
	<integer>1</integer>
	<key>Level9Med</key>
	<integer>12</integer>
	<key>Level9High</key>
	<integer>18</integer>
	<key>Level10Low</key>
	<integer>1</integer>
	<key>Level10Med</key>
	<integer>12</integer>
	<key>Level10High</key>
	<integer>18</integer>
	<key>Level11Low</key>
	<integer>1</integer>
	<key>Level11Med</key>
	<integer>9</integer>
	<key>Level11High</key>
	<integer>16</integer>
	<key>Level12Low</key>
	<integer>1</integer>
	<key>Level12Med</key>
	<integer>15</integer>
	<key>Level12High</key>
	<integer>22</integer>
	<key>Level13Low</key>
	<integer>1</integer>
	<key>Level13Med</key>
	<integer>8</integer>
	<key>Level13High</key>
	<integer>14</integer>
	<key>Level14Low</key>
	<integer>1</integer>
	<key>Level14Med</key>
	<integer>10</integer>
	<key>Level14High</key>
	<integer>18</integer>
	<key>Level15Low</key>
	<integer>1</integer>
	<key>Level15Med</key>
	<integer>10</integer>
	<key>Level15High</key>
	<integer>18</integer>
	<key>Level16Low</key>
	<integer>1</integer>
	<key>Level16Med</key>
	<integer>10</integer>
	<key>Level16High</key>
	<integer>18</integer>
	<key>Level17Low</key>
	<integer>1</integer>
	<key>Level17Med</key>
	<integer>10</integer>
	<key>Level17High</key>
	<integer>18</integer>
	<key>Level18Low</key>
	<integer>1</integer>
	<key>Level18Med</key>
	<integer>10</integer>
	<key>Level18High</key>
	<integer>18</integer>
	<key>Level19Low</key>
	<integer>1</integer>
	<key>Level19Med</key>
	<integer>10</integer>
	<key>Level19High</key>
	<integer>18</integer>
	<key>Level20Low</key>
	<integer>1</integer>
	<key>Level20Med</key>
	<integer>10</integer>
	<key>Level20High</key>
	<integer>18</integer>
	<key>Level21Low</key>
	<integer>1</integer>
	<key>Level21Med</key>
	<integer>10</integer>
	<key>Level21High</key>
	<integer>18</integer>
	<key>Level22Low</key>
	<integer>1</integer>
	<key>Level22Med</key>
	<integer>10</integer>
	<key>Level22High</key>
	<integer>18</integer>
	<key>Level23Low</key>
	<integer>1</integer>
	<key>Level23Med</key>
	<integer>10</integer>
	<key>Level23High</key>
	<integer>18</integer>
	<key>Level24Low</key>
	<integer>1</integer>
	<key>Level24Med</key>
	<integer>10</integer>
	<key>Level24High</key>
	<integer>18</integer>
	<key>Level25Low</key>
	<integer>1</integer>
	<key>Level25Med</key>
	<integer>10</integer>
	<key>Level25High</key>
	<integer>18</integer>
	<key>Level26Low</key>
	<integer>1</integer>
	<key>Level26Med</key>
	<integer>10</integer>
	<key>Level26High</key>
	<integer>18</integer>
	<key>Level27Low</key>
	<integer>1</integer>
	<key>Level27Med</key>
	<integer>10</integer>
	<key>Level27High</key>
	<integer>18</integer>
	<key>Level28Low</key>
	<integer>1</integer>
	<key>Level28Med</key>
	<integer>10</integer>
	<key>Level28High</key>
	<integer>18</integer>
	<key>Level29Low</key>
	<integer>1</integer>
	<key>Level29Med</key>
	<integer>10</integer>
	<key>Level29High</key>
	<integer>18</integer>
	<key>Level30Low</key>
	<integer>1</integer>
	<key>Level30Med</key>
	<integer>10</integer>
	<key>Level30High</key>
	<integer>18</integer>
	<key>Level31Low</key>
	<integer>1</integer>
	<key>Level31Med</key>
	<integer>10</integer>
	<key>Level31High</key>
	<integer>18</integer>
	<key>Level32Low</key>
	<integer>1</integer>
	<key>Level32Med</key>
	<integer>10</integer>
	<key>Level32High</key>
	<integer>18</integer>
	<key>Level33Low</key>
	<integer>1</integer>
	<key>Level33Med</key>
	<integer>10</integer>
	<key>Level33High</key>
	<integer>18</integer>
	<key>Level34Low</key>
	<integer>1</integer>
	<key>Level34Med</key>
	<integer>10</integer>
	<key>Level34High</key>
	<integer>18</integer>
	<key>Level35Low</key>
	<integer>1</integer>
	<key>Level35Med</key>
	<integer>10</integer>
	<key>Level35High</key>
	<integer>18</integer>
	<key>Level36Low</key>
	<integer>1</integer>
	<key>Level36Med</key>
	<integer>10</integer>
	<key>Level36High</key>
	<integer>18</integer>
	<key>Level37Low</key>
	<integer>1</integer>
	<key>Level37Med</key>
	<integer>10</integer>
	<key>Level37High</key>
	<integer>18</integer>
	<key>Level38Low</key>
	<integer>1</integer>
	<key>Level38Med</key>
	<integer>10</integer>
	<key>Level38High</key>
	<integer>18</integer>
	<key>Level39Low</key>
	<integer>1</integer>
	<key>Level39Med</key>
	<integer>10</integer>
	<key>Level39High</key>
	<integer>18</integer>
	<key>Level40Low</key>
	<integer>1</integer>
	<key>Level40Med</key>
	<integer>10</integer>
	<key>Level40High</key>
	<integer>18</integer>
	<key>Level41Low</key>
	<integer>1</integer>
	<key>Level41Med</key>
	<integer>10</integer>
	<key>Level41High</key>
	<integer>18</integer>
	<key>Level42Low</key>
	<integer>1</integer>
	<key>Level42Med</key>
	<integer>10</integer>
	<key>Level42High</key>
	<integer>18</integer>
</dict>
</plist>
