<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BackButtonNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 67}</string>
			<key>spriteSourceSize</key>
			<string>{164, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{809, 102}, {164, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BackButtonSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 67}</string>
			<key>spriteSourceSize</key>
			<string>{164, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{796, 171}, {164, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Failed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {345, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{345, 105}</string>
			<key>spriteSourceSize</key>
			<string>{345, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 124}, {345, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FishIdle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{697, 318}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Go.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {193, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{193, 110}</string>
			<key>spriteSourceSize</key>
			<string>{193, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{761, 240}, {193, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Passed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {446, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{446, 122}</string>
			<key>spriteSourceSize</key>
			<string>{446, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {446, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PenguinIdle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {144, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{144, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{615, 900}, {144, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PlayGameButtonNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {323, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{323, 107}</string>
			<key>spriteSourceSize</key>
			<string>{325, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 419}, {323, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PlayGameButtonSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {325, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{325, 109}</string>
			<key>spriteSourceSize</key>
			<string>{325, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 308}, {325, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Star_Gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 365}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Star_Silver.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 431}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>balloon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 90}</string>
			<key>spriteSourceSize</key>
			<string>{85, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 125}, {85, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bouncyblock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 565}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>box.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 391}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buzzer_beater.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {336, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{336, 181}</string>
			<key>spriteSourceSize</key>
			<string>{336, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 125}, {336, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>clear.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{758, 352}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>clear_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 718}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dance_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {144, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{144, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1348}, {144, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dance_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {146, 172}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{146, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1000}, {146, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dance_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {148, 172}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{148, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 805}, {148, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dance_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {146, 172}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{146, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 809}, {146, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dance_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {144, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{144, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 1075}, {144, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dance_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {146, 172}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{146, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 901}, {146, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dance_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 1}, {148, 172}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{148, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 826}, {148, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dance_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {146, 172}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{146, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{467, 833}, {146, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>facebook_like.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 95}</string>
			<key>spriteSourceSize</key>
			<string>{250, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 252}, {250, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>help.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 528}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>help_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 478}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iceblock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{171, 78}</string>
			<key>spriteSourceSize</key>
			<string>{171, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{809, 22}, {171, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icicle_extra_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 437}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 437}</string>
			<key>spriteSourceSize</key>
			<string>{18, 437}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 171}, {18, 437}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icicle_extralarge.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {13, 295}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{13, 295}</string>
			<key>spriteSourceSize</key>
			<string>{13, 295}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1010, 1}, {13, 295}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icicle_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 303}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 303}</string>
			<key>spriteSourceSize</key>
			<string>{17, 303}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 125}, {17, 303}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icicle_medium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {15, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{15, 141}</string>
			<key>spriteSourceSize</key>
			<string>{15, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{741, 318}, {15, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icicle_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 81}</string>
			<key>spriteSourceSize</key>
			<string>{8, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1010, 298}, {8, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icicle_xxl.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 628}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 628}</string>
			<key>spriteSourceSize</key>
			<string>{22, 628}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{986, 1}, {22, 628}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{845, 352}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lvl_blank.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 217}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {213, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 103}</string>
			<key>spriteSourceSize</key>
			<string>{213, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 461}, {213, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {213, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 103}</string>
			<key>spriteSourceSize</key>
			<string>{213, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 370}, {213, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>next_button.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {213, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 84}</string>
			<key>spriteSourceSize</key>
			<string>{213, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 475}, {213, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>next_button_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {213, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 84}</string>
			<key>spriteSourceSize</key>
			<string>{213, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{717, 566}, {213, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 304}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 497}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>paused_text.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {358, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{358, 100}</string>
			<key>spriteSourceSize</key>
			<string>{358, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 22}, {358, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinAngry_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 13}, {160, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{160, 160}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 647}, {160, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinAngry_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 13}, {160, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{160, 160}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 671}, {160, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinAngry_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 14}, {156, 160}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{156, 160}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{714, 738}, {156, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinAngry_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 14}, {154, 160}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{154, 160}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 739}, {154, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinBlinking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {144, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{144, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 1007}, {144, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinBlinking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {144, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{144, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{295, 1155}, {144, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinEating_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {144, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{144, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1174}, {144, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinEating_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {144, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{144, 172}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 1249}, {144, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinOpenMouth_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {146, 170}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{146, 170}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 983}, {146, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>penguinOpenMouth_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {160, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{160, 170}</string>
			<key>spriteSourceSize</key>
			<string>{160, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 654}, {160, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>platform_extralarge.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {429, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{429, 19}</string>
			<key>spriteSourceSize</key>
			<string>{429, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 1}, {429, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>platform_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {314, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{314, 19}</string>
			<key>spriteSourceSize</key>
			<string>{314, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 231}, {314, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>platform_medium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {215, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{215, 19}</string>
			<key>spriteSourceSize</key>
			<string>{215, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 349}, {215, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>platform_small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 19}</string>
			<key>spriteSourceSize</key>
			<string>{104, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 1}, {104, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>reset.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 652}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>reset_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{628, 584}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>resume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {213, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 61}</string>
			<key>spriteSourceSize</key>
			<string>{213, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 591}, {213, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>resume_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {213, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 61}</string>
			<key>spriteSourceSize</key>
			<string>{213, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 528}, {213, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skip.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {213, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 84}</string>
			<key>spriteSourceSize</key>
			<string>{213, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{715, 652}, {213, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skip_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {213, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 84}</string>
			<key>spriteSourceSize</key>
			<string>{213, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{413, 561}, {213, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trash_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {46, 64}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{697, 252}, {46, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>undo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{932, 631}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>undo_over.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 85}</string>
			<key>spriteSourceSize</key>
			<string>{85, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 615}, {85, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>scene1atlas_iPad.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>scene1atlas_iPad-hd_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>scene1atlas_iPad-hd_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>